<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        header{
            border: 1px solid maroon;
        }
        nav{
            border: 1px solid green;
        }
        .menu-grid{
            border: 1px solid blue;
        }
        .item-image{
            border: 1px solid black;
        }
        .item-quantity{
            border: 1px solid green;
        }
    </style>
</head>
<body>
    <header>
        <button>alacarte</button>
    </header>
    <nav>
        <ul>
            <li>Speciality Kampung Chicken</li>
            <li>Fish</li>
            <li>Regular Chicken</li>
            <li>Pork</li>
            <li>Vegetarian</li>
            <li>Others</li> 
        </ul>
    </nav>
    <div class="menu-grid">
        <div class="menu-item">
            <div class="item-image">image of the food</div>
            <div class="item-quantity">
                quantity selector
                <button>
                    -
                </button>
                <input type="number" value="0" readyonly>
                <button>+</button>
            </div>

        </div>

    </div>
    <button><a href="catalouge.html">back</a></button>
</body>
</html>